@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f10;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

input, 
textarea {
  color: #000;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
.main-content {
  margin-left: 15%; 
}

@media (max-width: 767px) {
  .main-content {
    margin-left: 0 !important;
  }
}
